body {
  margin: 0;
  background: #ffffff;
  color: #1a1a1a;
}

select, input, button {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  background: #1a1a1a;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px;
}

button:hover {
  opacity: 0.9;
}
